language: python
python:
  - '2.7'
  - '3.6'
install: 
    - pip install pip --upgrade
    - pip install virtualenv --upgrade
    - pip install nose --upgrade
    - pip install tox --upgrade
script: tox -e $(echo py$TRAVIS_PYTHON_VERSION | tr -d .)
cache:
    pip: true 
    directories:
      - $HOME/local
      - $HOME/src
git:
  depth: 2147483647
